<%= turbo_frame_tag "notifications" do %>
  <div class='flex items-center border-b p-4'>
    <span class="font-semibold text-lg"><%= t('.title') %></span>
    <%= link_to t('.manage'), account_path(anchor: "user-preferences"),
            class: "link ms-auto text-sm", data: { turbo_frame: '_top', action: "dropdown#close" } %>
  </div>

  <div class='flex flex-col gap-2 p-2 text-sm content'>
   <%= render partial: 'notifications/notification', collection: @notifications %>
  </div>
<% end %>


