<%# Pass distinct id to locals to use this %>

<div class="modal invisible" aria-labelledby="modal-title" role="dialog" tabindex="-1"
  aria-modal="true" data-controller="modal" data-action="keydown.esc->modal#closeModal" id="<%= id %>">
  <div class="modal-backdrop" data-modal-target="backdrop" aria-hidden="true"></div>

  <div class='modal-dailog'>
    <div class="modal-box">
      <div class="modal-content">
        <div class="flex justify-end">
          <button type="button" class="btn text-gray-400" data-action="modal#closeModal">
            <%= render "shared/svgs/close" %>
          </button>
        </div>

        <div data-modal-target="content">
        </div>
      </div>
    </div>
  </div>
</div>