@import "tailwind/alert.css";
@import "tailwind/button.css";
@import "tailwind/dropdown.css";
@import "tailwind/input.css";
@import "tailwind/modal.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .link {
    @apply relative cursor-pointer text-indigo-600 focus-within:outline-none focus-within:ring-indigo-600 hover:text-indigo-500;

    &.delete {
      @apply text-red-600 focus-within:ring-red-600 hover:text-red-500;
    }

    &:disabled {
      @apply text-gray-400 cursor-not-allowed;
    }
  }

  .form-checkbox, .form-check-input, input[type='radio'], input[type='checkbox'] {
    @apply text-indigo-500;
  
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  input[type='checkbox'] {
    @apply rounded;
  }

  .scrollable-table {
    max-height: calc(100vh - 270px);
  }

  .table {
    @apply min-w-full divide-y divide-gray-300;

    .table-head {
      @apply bg-gray-100;
    }

    .table-head th {
      @apply px-3 py-3.5 text-left text-sm font-semibold text-gray-900 bg-gray-100 truncate;

      max-width: 200px;
    }

    .table-body {
      @apply divide-y divide-gray-200 bg-white;
    }

    .table-body td {
      @apply whitespace-nowrap px-3 py-4 text-sm text-gray-500 truncate;

      max-width: 200px;

      .btn-link {
        position: unset;
      }
    }
  }

  .pagy {
    @apply flex space-x-1 font-semibold text-sm text-gray-500;

    a:not(.gap) {
      @apply block rounded-lg px-3 py-1 bg-gray-200;
  
      &:hover {
        @apply bg-gray-300;
      }

      &:not([href]) { /* disabled links */
        @apply text-gray-300 bg-gray-100 cursor-default;
      }

      &.current {
        @apply text-white bg-gray-400;
      }
    }

    label {
      @apply inline-block whitespace-nowrap bg-gray-200 rounded-lg px-3 py-0.5;

      input {
        @apply bg-gray-100 border-none rounded-md;
      }
    }

    &.info  {
      @apply justify-center py-3;
    }

    &.nav {
      @apply pb-3;
    }
  }

  #mobile-menu{
    .nav-menu-link{

      @apply block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800;

      &.active {
        @apply !border-indigo-500 bg-indigo-50 text-indigo-700;
      }
    }
  }

  #mobile-menu {
    &.hide {
      .backdrop {
        @apply transition-opacity ease-linear duration-300 opacity-0;
      }

      .off-canvas-content {
        @apply transition ease-in-out duration-300 transform -translate-x-full;
      }
    }

    &.show {
      .backdrop {
        @apply transition-opacity ease-linear duration-300 opacity-100;
      }

      .off-canvas-content {
        @apply transition ease-in-out duration-300 transform translate-x-0;
      }
    }
  }
}


#products-list {
  .container {
    overflow-y: auto;
    max-height: calc(100vh - 170px);
  }
}

#variants {
  .container {
    overflow-y: auto;
    max-height: calc(100vh - 400px);
  }
}