<h1 class="text-3xl font-semi-bold tracking-tight text-gray-900 py-4 truncate">
  <%= t('.title', product: product.escape_value(:name)) %>
</h1>

<%= form_with(model: product, builder: CustomFormBuilder, class: "mt-3 md:w-3/5 w-full", data: { controller: 'form' }) do |form| %>
  <%= form.text_field :name, required: true, autocomplete: false, autofocus: true, label: t('.name.label'), placeholder: t('.name.placeholder') %>

  <%= form.submit t('.submit'), class: "mt-6 btn btn-primary", disabled: true %>
<% end %>
